// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$purple:rgba(45,23,54,1);
$purple-two:rgba(45,23,54,0.5);
$purple-three:rgba(161,90,187,0.3);
