<div>
  <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://thumbs.gfycat.com/BelovedPlainEstuarinecrocodile-size_restricted.gif');">
    <div class="banner-content">
      <p>Location: Aleppo, Syria</p>
      <p>Date/Time: 4th feb, 2016</p>
      <h3>Titlec: Syrian Civial War</h3>
      <h2>Event: French Airstrikes</h2>
      <p>Description: The US, UK and France have launched more than 100 missiles against what they say were Syrian chemical weapons facilities in response to a chemical weapons attack in a Damascus suburb a week ago.</p>

    </div>
  </div>
</div>
          <!-- ARTICLE ------------------------------- -->


<div>

      <p>ARTICLE:</p>

      <p>publisher: --</p>
      <p>Title: --</p>
      <h3>Title: yes french airstrikes yes happened</h3>
      <h2>Date-time: --</h2>

      <p>Text: The US, UK and France have launched more than 100 missiles against what they say were Syrian chemical weapons facilities in response to a chemical weapons attack in a Damascus suburb a week ago.</p>




</div>

