<!-- [ MAP ]  -------------------------- START --------------------------------- -->

<!-- <div id="background-mapbox"><div> -->

<div id='map' style='height: 100vh;'>
</div>


<!-- MAP JAVASCRIPT -->

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiamZlcnJlaXJhIiwiYSI6IkZaNkFxZTgifQ.MiR5H09LvIWoa2DH2BRxuA';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/jferreira/cihciq2h400c5jnkxve6bdliv',
  center: [-17, 37.8], // starting position
  zoom: 4.0
  });
</script>



<!-- MAP STYLE -->
<!-- <style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style> -->



<!-- [ MAP ]  -------------------------- END --------------------------------- -->











<!-- FLYING TO EVENT ----------------------------------->

<button id='fly'>Event Location</button>



<style>
    #fly {
        top: 90vh;
        display: block;
        position: relative;
        margin: 0px auto;
        width: 25%;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: black;
        background: white;
    }
</style>



<script>
document.getElementById('fly').addEventListener('click', function () {
    map.flyTo({
        center: [
            -74.50 + (Math.random() - 0.5) * 10,
            40 + (Math.random() - 0.5) * 10]
    });
});
</script>







<!-- FLYING TO YOU ----------------------------------->

<!--   GEO LOCATION TO MAP ---------------------------- -->
<script>

    map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    }));

</script>






<!-- MARKER -->
<script>
  var ll = new mapboxgl.LngLat(-73.9749, 40.7736);

  var marker = new mapboxgl.Marker()
    .setLngLat([30.5, 50.5])
    .addTo(map);

</script>


