<div>
  <div class="banner-half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://thumbs.gfycat.com/BelovedPlainEstuarinecrocodile-size_restricted.gif');">
    <div class="banner-content">
      <p>Location: Aleppo, Syria</p>
      <p>Date/Time: 4th feb, 2016</p>
      <h3>Topic: Syrian Civial War</h3>
      <h2>Event: French Airstrikes</h2>
      <p>Description: The US, UK and France have launched more than 100 missiles against what they say were Syrian chemical weapons facilities in response to a chemical weapons attack in a Damascus suburb a week ago.</p>

    </div>
  </div>
</div>
          <!-- ARTICLES ------------------------------- -->


<div class="container">
  <div class="row">
        <% @event.articles.each do | article| %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= article.image_url =%>);">
          <div class="card-category">-</div>
          <div class="card-description">
              <ul><%= article.title %>
                <li><h2>

                  <%= article.description =%>

                  <p>author:</p>
                  <p>publisher:</p>

                <!-- link_to "show event", article_path(@event) %> -->

                </li>
              </ul>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>

        <% end %>
    </div>
  </div>
</div>








