<div>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://thumbs.gfycat.com/BelovedPlainEstuarinecrocodile-size_restricted.gif');">
    <div class="banner-content">
      <h1>Read news with perspective</h1>

      <div>
          <!-- SEARCH BY ------------------------------- -->
          <%= form_tag(root_path, method: :get, role: 'form') do %>

            <div class='row'>
              <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

                <div class="form-group">
                  <%= text_field_tag :query, nil, placeholder: 'Topics, Events, Locations', class: 'form-control' %>
                  <br>
                  <%= submit_tag "Search", class: "btn btn-primary" %>
                  <%= submit_tag "Reset", class: "btn btn-default", type: 'reset', value: 'Reset' %>
                </div>

              </div>
            </div>

          <% end %>
      </div>

      <p>Search news by topic,event, author, publisher or by location</p>

    </div>
  </div>
</div>
