<div>
   <div class="banner" style="background-image: linear-gradient(-225deg, rgba(161,90,187,0.6) 0%, rgba(45,23,54,0.8) 50%), url(<%= @articles.last.image_url %>);">
    <div class="banner-content">
      <h2>Read news with perspective</h2>
      <p>Search news by topic,event, author, publisher or by location</p>

      <div>
          <!-- SEARCH BY ------------------------------- -->
          <%= form_tag(root_path, method: :get, role: 'form') do %>

            <div class='row'>
              <div class='offset-xs-0 col-xs-12 offset-md-0 col-md-12'>

                <div class="form-group">
                  <%= text_field_tag :query, nil, placeholder: 'Topics, Events, Locations', class: 'form-control' %>
                  <br>
                  <%= link_to "Search", topics_path, class: "btn btn-default" %>
                  <!-- <#%= submit_tag "Search", class: "btn btn-default" %> -->
                </div>

              </div>
            </div>

          <% end %>

      </div>

    </div>
  </div>
</div>
