<div>
<%= link_to new_user_session_path do %>
      <% if icon === 'up' %>
          <i class="fas fa-angle-up"></i>
      <% else %>
          <i class="fas fa-angle-down"></i>
      <% end %>
<% end %>
</div>


