<div id="jsBtnUp">
<%= form_for([article, user_score], remote: true) do |f| %>
  <%= f.hidden_field :score, :value => value %>
  <%= button_tag type: 'submit', class: class_name do %>
      <% if icon === 'up' %>
          <i class="fas fa-angle-up"></i>
      <% else %>
          <i class="fas fa-angle-down"></i>
      <% end %>
  <% end %>
<% end %>
</div>

