<div>
<%= link_to new_user_session_path, class: 'submit-score-btn btn-clear'  do %>
  <%= button_tag type: 'submit', class: 'submit-score-btn btn-clear' do %>
        <% if icon === 'up' %>
            <i class="fas fa-angle-up"></i>
        <% else %>
            <i class="fas fa-angle-down"></i>
        <% end %>
  <% end %>
<% end %>
</div>


