.banner-half {
  padding: 0;
  margin: 0;
  list-style: none;

  /*TEXT*/
  color: white;
  // text-align: center;

  /*FLEX*/
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  // flex-direction: column;
// flex-direction: row;

  /*BOX*/
  padding: 10px;
  // height: calc(60vh - 70px);
  // background-size: cover !important;
  height: 70vh !important;

  // display: flex;
  align-items: center;
  justify-content: center;

  /*BACKGROUND*/
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.8) 0%, rgba(0,36,61,0.8) 50%), url('../../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


// .flex-header-1 {
//   display: block;
//   // flex: 1 0 300px;
//   width: 100px;
//   height: 100px;
//   // height: 100%;

//   background: red;

//   position: absolute;
// }


// .flex-header-2 {
//   flex: 1 0 600px;
//   display: block;
//   // width: 100%;

//   width: 100px;
//   height: 100px;
//   // height: 100%;

//   background: blue;


//   position: absolute;
// }
