/*---------------- [ EMPTY ] --------------------*/

.btn-empty {
  // FONT
  color: $sift-purple !important;
  font-size: 24px;
  // font-weight: lighter;

  // BOX
  // min-width: 158px !important;
  // border: 1px solid rgba(255,255,255,0.4);
  background: rbga(0,0,0,0) !important;
  // opacity: 0.2;

  // SPACING
  padding: 6px 16px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}



.btn-empty:hover {
  // FONT
  color: white !important;
  font-size: 24px;
  // font-weight: lighter;

  // BOX
  // min-width: 158px !important;
  // border: 1px solid rgba(255,255,255,0.4);
  color: $sift-purple !important;
  // opacity: 0.2;

  // SPACING
  padding: 6px 16px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}


















/*---------------- [ PURPLE] --------------------*/

.btn-outline-purple {
  // FONT
  color: white !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  // border: 1px solid rgba(255,255,255,0.4);
  background: $sift-purple-50 !important;
  border-radius: 4px;
  // opacity: 0.2;

  // SPACING
  padding: 8px 25px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}


.btn-outline-purple:hover {
  // FONT
  color: rgba(0,0,0,0.6) !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  // border: 1px solid rgba(255,255,255,1);
  background: white !important;
  border-radius: 4px;
  // opacity: 0.6;

  // SPACING
  padding: 8px 32px;

  // ANIMATION
  transition: background 0.6s ease;
}




















/*---------------- BTN - OUTLINED - WHITE --------------------*/

.btn-outline-white {
  // FONT
  color: white !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(255,255,255,0.2) !important;
  border-radius: 4px;
  // opacity: 0.2;

  // SPACING
  padding: 8px 25px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}


.btn-outline-white:hover {
  // FONT
  color: rgba(0,0,0,0.6) !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  border: 1px solid rgba(255,255,255,1);
  background: white !important;
  border-radius: 4px;
  // opacity: 0.6;

  // SPACING
  padding: 8px 32px;

  // ANIMATION
  transition: background 0.6s ease;
}


/*---------------- BTN - OUTLINED - GREY --------------------*/

.btn-outline-grey {
  // FONT
  color: rgba(0,0,0,0.6) !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  border: 1px solid rgba(0,0,0,0.2) !important;
  background: rgba(255,255,255,1) !important;
  border-radius: 4px;
  // opacity: 0.2;

  // SPACING
  padding: 8px 25px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}


.btn-outline-grey:hover {
  // FONT
  color: rgba(0,0,0,0.6) !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 158px !important;
  border: 1px solid rgba(0,0,0,0.6) !important;
  background: white !important;
  border-radius: 4px;
  // opacity: 0.6;

  // SPACING
  padding: 8px 32px;

  // ANIMATION
  transition: background 0.6s ease;
}



/*---------------- BTN - OUTLINED - GREY --------------------*/

.btn-clear {
  // FONT
  font: $text;
  color: white !important;
  font-size: 12px;
  // font-weight: lighter;

  // BOX
  min-width: 96px !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
  background: rgba(255,255,255,0.0) !important;
  border-radius: 4px;
  // opacity: 0.2;

  // SPACING
  padding: 8px 8px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}


.btn-clear:hover {
  // FONT
  color: rgba(0,0,0,0.6) !important;
  font-size: 12px;
  // font-weight: lighter;

  // BOX
  min-width: 96px !important;
  // border: 1px solid rgba(0,0,0,0.6) !important;
  background: white !important;
  border-radius: 4px;
  // opacity: 0.6;

  // SPACING
  padding: 8px 8px;

  // ANIMATION
  transition: background 0.6s ease;
}

.txt-clear {
  // FONT
  font-family: 'Zilla', serif;
  color: $sift-purple !important;
  font-size: 20px;
  // font-weight: lighter;

  // BOX
  min-width: 96px !important;
  border: 1px solid rgba(255,255,255,0.4) !important;
  background: white !important;
  max-width: 96px !important;
  border-radius: 2px;
  // opacity: 0.2;

  // SPACING
  text-align: center;
  padding: 24px 8px 24px 8px;

  //BLUR
  // filter: blur(2px);
  // -webkit-filter: blur(2px);

  // ANIMATION
  transition: background 0.2s ease;
}

/*---------------- SEARCH --------------------*/

.btn-search {
  /*TEXT*/
  text-decoration: none;
  color: white;
  // font-weight: bold;
  font-size: 20px;

  padding: 16px 64px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 64px;

  background: $sift-green;
  transition: background 0.3s ease;

}

/*---------------- GREEN --------------------*/


.btn-green {
  /*TEXT*/
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;

/*  margin: 24px;*/
  padding: 16px 128px;
  border-radius: 4px;

  background: #6AD58B;
  transition: background 0.3s ease;

}

.btn-green:hover {
  background: #3ac162;
  text-decoration: none;
  color: white;
}


/*---------------- MEDIUM --------------------*/

.btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
}

.btn-medium:hover {
    color: #999999;
    border: 1px solid #999999;
    padding: 15px 25px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
}

/*---------------- TREEHOUSE --------------------*/

.btn-treehouse {
  color: white;
  padding: 15px 25px;
  background: #6AD58B;
  font-weight: bold;
  border-radius: 4px;
}

.btn-treehouse:hover {
  color: white;
  padding: 15px 25px;
  background: #6AD58B;
  font-weight: bold;
  border-radius: 4px;
}

/*---------------- MINE --------------------*/


.btn-yours {
  color: white;
  padding: 15px 25px;
  background: blue;
  font-weight: bold;
  border-radius: 18px;
}

.btn-yours:hover {
  color: white;
  border-radius: 18px;
  padding: 15px 25px;
  background: blue;
  font-weight: bold;
}




.txt-link {
  color: white !important;
}
