<!-- ---- EVENT CARD ----- -->
<div class="a-card-event-box">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <span class="blocked-sml">&nbsp &nbsp Aleppo, Syria  &nbsp &nbsp</span>
  <span class="blocked-sml">&nbsp &nbsp 3rd Mar 2016  &nbsp &nbsp</span>
  <p></p>
  <h2><span class="blocked">&nbsp # &nbsp</span> <span class="blocked">&nbsp Syrian Civial War &nbsp</span></h2>
                <p></p>
  <h2><span class="blocked">&nbsp # &nbsp</span> <span class="blocked">&nbsp French Airstrikes &nbsp</span></h2>
  <p></p>
  <p></p>
  <p>Summary: { 03 } Articles, between { 3rd Jan 2018 } and { 24th Dec 2018 } The story of France carring out its first air strikes against Islamic State militants in Syria.</p>
</div>
<!-- ---- EVENT CARD END ----- -->
