.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.header {
  padding: 0;
  margin: 0;
}

.flex-sidebar-left {
  flex: 1 0 10%;
  padding: 24px;
}

.flex-main    {
  flex: 2 0 50%;
  padding: 24px;
}

.flex-sidebar-right {
  flex: 1 0 30%;
  padding: 24px;
}

.flex-footer  {
  flex: 0 0 100%;
}

.flex-item {
  // display: flex;
  // background: tomato;
  // padding: 10px;
  // width: 100px;
  // border: 3px solid rgba(0,0,0,.2);

  // color: white;
  // font-weight: bold;
  // font-size: 2em;
  // text-align: center;
}


// .flex-box {
//   display: flex;
// }
// #flex-body-left {
//   flex: 0 0 20%;
// }

// #flex-body-center {
//   flex: 0 0 45%;
// }

// #flex-body-right {
//   flex: 0 0 40%;
// }


// .flex-item {
//   display: flex;
//   flex: 0 0 20%;
// }

// .flex-stretch {
//   display: flex;
//   flex: 1 0 auto;
// }
//
// .flex-stretch-body-center {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .flex-logo-center {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .align-center {
//   display: block;
//   justify-content: space-around;
//   align-items: center;
// }
