
.input-search {
  /*TEXT*/
  text-decoration: none;
  color: $sift-purple-80;
  font-size: 24px;
  font-family: zilla;
  font-weight: lighter;

/*  margin: 24px;*/
  padding: 16px 24px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 64px;

  background: white;
  transition: background 0.3s ease;
}
