// INLINE BLOCKING

.tag-small {
  line-height: 48px;
  color: #331c3d;
  display: inline-block;
  background: #rgba;
  border-radius: 2px;
  padding: 8;
  margin: 8;
}

// INLINE BLOCKING

.blocked {
  height: 48px;
  color: #331c3d;
  display: inline-block;
  background: #fff;
  border-radius: 2px;
  padding: 8;
  margin: 8;
}

.blocked-light {
  height: 48px;
  color: #331c3d;
  display: inline-block;
  background: rgba(255,255,255,0.3);
  border-radius: 2px;
  padding: 8;
  margin: 8;
}

.blocked-sml {
  line-height: 2;
  color: #331c3d;
  display: inline-block;
  background: #rgba;
  border-radius: 2px;
  padding: 8;
  margin: 8;
}
