
/*---------------- TXT - OUTLINED - GREY --------------------*/

.txt-outline-grey {
  // FONT
  color: rgba(0,0,0,0.2) !important;
  font-size: 14px;
  // font-weight: lighter;

  // BOX
  min-width: 128px !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  background: rgba(255,255,255,1) !important;
  border-radius: 4px;
  // opacity: 0.2;

  // SPACING
  padding: 8px 25px;
  margin: 4px;

}
