<!-- ----------------------------------------------------------------------- -->
<!-- [ PAGE BODY ]-------------------------------------- [ START ] --------- -->

<div class="container bootstrap-clear">
  <div class="row">

    <!-- [ MAIN BODY ][ COL-1 - LEFT ] ------------------- START ----------- -->
    <!-- [ ARTICLE ACTION BAR ] -->
    <div id="article-side-bar" class="col-xs-3">
      <div id="body-box-middle">

        <!-- [ USER SCORES ] ---------------------------- START ------------ -->
        <div id="article-side-items">
        </div>
        <!-- [ USER SCORES ] ----------------------------- END ------------- -->

      </div>
    </div>

    <!-- [ MAIN BODY ][ COL-1 - LEFT ] ------------------ END -------------- -->
    <!-- ------------------------------------------------------------------- -->

    <!-- [ MAIN BODY ][ COL-2 - MIDDLE ] --------------- START ------------- -->
    <!-- [ ARTICLE ] -->
    <div id="article-body" class="col-xs-9">
      <!-- MAIN CONTENT HERE -->
    </div>


   </div><!-- ROW END -->
</div><!-- CONTAINER END -->

<!-- [ PAGE BODY ]------------------------------------ [ END ] ------------- -->
<!-- ----------------------------------------------------------------------- -->
